<<<<<<< HEAD
#footer{
    height: 90px;
    padding:0 $padding-hor;
    display: flex;
    align-items: center;
    justify-content: space-between;
=======
#footer{
    height: 90px;
    padding:0 $padding-hor;
    display: flex;
    align-items: center;
    justify-content: space-between;
>>>>>>> master
}